{% load static %}
<!doctype html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>Detalles de la transacción</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'alastria/css/_main.css' %}" />
</head>
<body>
<section class="row">
	<section class="content">


		<div class="avanzado">
			<img src="{% static 'alastria/img/elementos-05.png' %}" class="proceso" alt="" />
			<h2>Los datos ingresados no están certificados</h2>


		</div><!-- AVANZADO -->

	<div class="firma">
		<a href="https://mismatica.com/" target="_blank"><img src="{% static 'alastria/img/firma.png' %}" class="chulengo" alt="" /></a>
	</div>

	</section>
</section>


</body>
</html>